:root {
  --main-bg-color: #00000 !important;
  --secondary-bg-color: #00000 !important;
  --secondary-bg-color-alt: #00000 !important;
  --accent-color: #ffffff !important;
  --accent-secondary-color: #ffffff !important;
  --text-color: #000000 !important;
  --border-radius: 15px !important;
  --accent-light: #d4b5ff !important;
}

/* Changes Background */

body, .content-wrapper {
	background-color: var(--main-bg-color) !important;
}
